img {
    width: 250px;
}
    body {
        text-align: left;
        font-family: Arial;
        background-color: teal;
        color: rgb(251, 255, 0);
    }
    .box {
        width: 100px;
        height: 100PX;
        background-color; red;
        margin: 0 auto;

    }